<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Project name</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <!-- Navbar buttons -->
      <ul class="nav navbar-nav" *ngIf="loggedIn()">
        <li><a href="#">Matches</a></li>
        <li><a href="#">Lists</a></li>
        <li><a href="#">Messages</a></li>
      </ul>
      <!-- Navbar loginform -->
      <form *ngIf="!loggedIn()" #loginFrom="ngForm" class="navbar-form navbar-right" (ngSubmit)="login()">
        <div class="form-group">
          <input type="text" #username="ngModel" placeholder="Email" class="form-control" required name="username" [(ngModel)]="model.username">
        </div>
        <div class="form-group">
          <input type="password" #password="ngModel" placeholder="Password" class="form-control" required name="password" [(ngModel)]="model.password">
        </div>
        <button type="submit" [disabled]="!loginFrom.valid" class="btn btn-success">Sign in</button>
      </form>
      <!-- navbar dropdown -->
      <ul *ngIf="loggedIn()" class="nav navbar-nav navbar-right">       
          <li class="dropdown" dropdown>
            <a href="#" class="dropdown-toggle" dropDownToggle>Welcome {{authService.decodedToken?.unique_name | titlecase}} <span class="caret"></span></a>
            <ul class="dropdown-menu" *dropDownMenu>
              <li><a href="#"><I class="fa fa-user"></I>Edit Profile</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a (click)="logout()"><i class="fa fa-sign-out"></i>Logout</a></li>
            </ul>
          </li>
        </ul>

    </div>
  </div>
</nav>
